<div class="container2">
    <h2>{{titulo}}</h2>
</div>

<body>
    <div>
        <button class="btn btn-primary my-2" routerLink="/categorias">Regresar</button>
    </div>
    <div>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/2.tecnologia/iphone11.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Iphone 11</h5>
                  <p class="card-text">Descripcion:</p>
                  <div class="alert alert-primary" role="alert">
                    Referencia 900
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/2.tecnologia/galaxyA21.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Galaxy A21</h5>
                  <p class="card-text">Descripcion:</p>
                  <div class="alert alert-primary" role="alert">
                    Referencia 1000
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/2.tecnologia/iphone8.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Iphone 8</h5>
                  <p class="card-text">Descripcion:</p>
                  <div class="alert alert-primary" role="alert">
                    Referencia 1100
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="./assets/2.tecnologia/lgv60.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">LG V60</h5>
                    <p class="card-text">Descripcion:</p>
                    <div class="alert alert-primary" role="alert">
                      Referencia 1200
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>


    <div>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/2.tecnologia/lgv50.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">LG V50</h5>
                  <p class="card-text">Descripcion:</p>
                  <div class="alert alert-primary" role="alert">
                    Referencia 1300
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/2.tecnologia/lgG8.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">LG G8</h5>
                  <p class="card-text">Descripcion:</p>
                  <div class="alert alert-primary" role="alert">
                    Referencia 1400
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/2.tecnologia/nokia6310.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nokia 6310</h5>
                  <p class="card-text">Descripcion:</p>
                  <div class="alert alert-primary" role="alert">
                    Referencia 1500
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="./assets/2.tecnologia/nokiaC30.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Nokia C30</h5>
                    <p class="card-text">Descripcion:</p>
                    <div class="alert alert-primary" role="alert">
                      Referencia 1600
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>

    </div>


    </div>
</body>



