<h2>{{titulo}}</h2>

<body>
    <div>
        <button class="btn btn-primary my-2" routerLink="/categorias">Regresar</button>
    </div>
    <div>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/1.deporte/bandaElastica.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Banda Elastica</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 100
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/1.deporte/guantes.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Guantes</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 200
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/1.deporte/raqueta.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Raqueta de Tennis</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 300
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/1.deporte/arco.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Arco</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                            Referencia 400
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/1.deporte/patines.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Patines</h5>
                      <p class="card-text">Descripcion</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 500
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/1.deporte/bate.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">bate</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 600
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/1.deporte/tabla.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Tabla de Surf</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 700
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/1.deporte/pelotaGolf.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Pelota de golf</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                            Referencia 800 
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    
</body>


