<p>categorias works!</p>
<h2>{{titulo}}</h2>


<div class="card-group">
    <div class="card">
      <div class="card-body">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/deporte.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Deportes</h5>
              <p class="card-text">En esta seccion encontraras todos los productos relacionados con deporte</p>
              <a href="#" routerLink="/categorias/categoriaDeporte" routerLinkActive="active" class="btn btn-primary">Ir a productos</a>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/tecnologia.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tecnologia</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#"  routerLink="/categorias/categoriaTecnologia" routerLinkActive="active" class="btn btn-primary">Ir a productos</a>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/salud.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Salud</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" routerLink="/categorias/categoriaSalud" routerLinkActive="active" class="btn btn-primary">Ir a productos</a>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
      <div class="card-body">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/accesorios.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Accesorios</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" routerLink="/categorias/categoriaAccesorios" routerLinkActive="active" class="btn btn-primary">Ir a productos</a>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/ropa.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ropa</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" routerLink="/categorias/categoriaRopa" routerLinkActive="active" class="btn btn-primary">Ir a productos</a>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/anime.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" routerLink="/categorias/categoriaAnime" routerLinkActive="active" class="btn btn-primary">Ir a productos</a>
            </div>
        </div>
      </div>
    </div>
</div>



