<h2>{{titulo}}</h2>

<body>
    <div>
        <button class="btn btn-primary my-2" routerLink="/categorias">Regresar</button>
    </div>

    <div>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/3.salud/alimentoProte.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Alimento Proteinico 240 gr</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 1700
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/3.salud/barraVainilla.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Barra con Proteina-Sabor vainilla</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 1800
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/3.salud/bebidaLimon.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Bebida Herbal-Limon-102 gr</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                          Referencia 1900
                        </div>
                      </div>
                  </div>
                </div>
              </div>

            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/3.salud/herbalMango.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Herbal Aloe Concentrado-mango-473 ml</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 2000
                      </div>
                    </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>


    <div>
        
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/3.salud/herbalConcentrado.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Herbal Aloe Concentrado-Original-473 ml</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                            Referencia 2100
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/3.salud/crema.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Crema Humectante</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 2200
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/3.salud/talco.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Talcos</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 2300
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/3.salud/aceite.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Aceite para el cabello</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 2400
                      </div>
                    </div>
                </div>
              </div>
            </div>

        </div>

    </div>
</body>