<h2>{{titulo}}</h2>

<body>
    <div>
        <button class="btn btn-primary my-2" routerLink="/categorias">Regresar</button>
    </div>
    <div>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/5.ropa/camiseta.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Camisa Roja</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 3300
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/5.ropa/jean.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Jean Negro</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 3400
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/5.ropa/zapatos.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Zapatos Negros</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 3500
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/5.ropa/tenis.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Tenis Nike</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                            Referencia 3600
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/5.ropa/medias.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Medias Grises</h5>
                      <p class="card-text">Descripcion</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 3700
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/5.ropa/boxers.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Boxers</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 3800
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/5.ropa/zandalias.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Zandalias</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 3900
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/5.ropa/chaqueta.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Chaqueta</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                            Referencia 4000 
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
