<p>categoria-anime works!</p>
<h2>{{titulo}}</h2>

<body>
    <div>
        <button class="btn btn-primary my-2" routerLink="/categorias">Regresar</button>
    </div>
    <div>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/6.anime/naruto.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Manga Naruto</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 4100
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/6.anime/bleach.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Manga Bleach</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 4200
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/6.anime/dragon.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Manga Dragon Ball</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 4300
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/6.anime/hero.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Manga Boku no hero</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                            Referencia 4400
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/6.anime/shingeki.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Manga Shingeki no kioyin</h5>
                      <p class="card-text">Descripcion</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 4500
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/6.anime/black.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Manga Black clover</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 4600
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/6.anime/tokio.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Manga Tokyo revenge</h5>
                      <p class="card-text">Descripcion:</p>
                      <div class="alert alert-primary" role="alert">
                        Referencia 4700
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./assets/6.anime/katekio.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Manga Katekyo no hitman</h5>
                        <p class="card-text">Descripcion:</p>
                        <div class="alert alert-primary" role="alert">
                            Referencia 4800 
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>