<h2>{{titulo}}</h2>

<body>
    <div>
        <button class="btn btn-primary my-2" routerLink="/categorias">Regresar</button>
    </div>

    <div>
        <div>
            <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/4.accesorios/anillo.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Anillo de dragon</h5>
                          <p class="card-text">Descripcion:</p>
                          <div class="alert alert-primary" role="alert">
                            Referencia 2500
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/4.accesorios/collar.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Collar itachi</h5>
                          <p class="card-text">Descripcion:</p>
                          <div class="alert alert-primary" role="alert">
                            Referencia 2600
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/4.accesorios/guantesMo.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Gauntes</h5>
                          <p class="card-text">Descripcion:</p>
                          <div class="alert alert-primary" role="alert">
                            Referencia 2700
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-body">
                      <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="./assets/4.accesorios/correa.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Correa gucci</h5>
                            <p class="card-text">Descripcion:</p>
                            <div class="alert alert-primary" role="alert">
                                Referencia 2800
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div>
            <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/4.accesorios/carteraA.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Cartera Azul</h5>
                          <p class="card-text">Descripcion:</p>
                          <div class="alert alert-primary" role="alert">
                            Referencia 2900
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/4.accesorios/aretes.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Aretes</h5>
                          <p class="card-text">Descripcion:</p>
                          <div class="alert alert-primary" role="alert">
                            Referencia 3000
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/4.accesorios/manilla.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Manilla</h5>
                          <p class="card-text">Descripcion:</p>
                          <div class="alert alert-primary" role="alert">
                            Referencia 3100
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-body">
                      <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="./assets/4.accesorios/bolsoM.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Bolso de mano</h5>
                            <p class="card-text">Descripcion:</p>
                            <div class="alert alert-primary" role="alert">
                                Referencia 3200
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</body>